ConnectionStrings__Default="Host=localhost;Port=5432;Database=degen;Username=<DB_USER>;Password=<DB_PASSWORD>"
RabbitMQ__Host=localhost
RabbitMQ__Port=5672
RabbitMQ__Username=<RABBITMQ_USERNAME>
RabbitMQ__Password=<RABBITMQ_PASSWORD>
