ASPNETCORE_ENVIRONMENT=Development
DOTNET_ENVIRONMENT=Development

ConnectionStrings__Default="Host=localhost;Port=5432;Database=degen;Username=postgres;Password=postgres"

RabbitMQ__Host=localhost
RabbitMQ__Port=5672
RabbitMQ__ManagementPort=15672
RabbitMQ__Username=rabbitmq
RabbitMQ__Password=rabbitmq

Kraken__WsUrl=wss://ws.kraken.com/v2
Market__Intervals__0=1m

