POSTGRES_DB=degen
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

ConnectionStrings__Default="Host=localhost;Port=5432;Database=degen;Username=postgres;Password=postgres"

RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
RABBITMQ_DEFAULT_USER=rabbitmq
RABBITMQ_DEFAULT_PASS=rabbitmq

RabbitMQ__Host=localhost
RabbitMQ__Port=5672
RabbitMQ__Username=rabbitmq
RabbitMQ__Password=rabbitmq

ASPNETCORE_ENVIRONMENT=Development
DOTNET_ENVIRONMENT=Development
